h1{
    color: rgb(255,106,19);
}

h2{
    color: #cc8f52;
}

h3{
    color: rgba(94, 123, 255, 0.5);
}

h1{
    background-color: rgba(94, 123, 255, 0.5);
}

/*
body {
    background-color: rgb(50,50,90);
}
*/

body{
    background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Fblue-background&psig=AOvVaw3njvT0KUJLZKbQPnEjC8nc&ust=1606747734332000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKi6lPT_p-0CFQAAAAAdAAAAABAD);
    background-size: cover;
    background-repeat: no-repeat;
}
div{
    background-color: rgba(0,0,0,0.2);
}

h2{
    border-width:2px;
    border-color: #F00;
    border-style: solid;
}

h1{
    border: 5px #F00 dashed;
}
